<nav class="navbar navbar-expand-lg navbar-light bg-preto">
    <div class="container-fluid mt-2">
        <h1 class="navbar-brand nav text-amarelo ms-5">Mandalorian Dev Test</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav w-75 d-flex justify-content-evenly">

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/isaiaszanoni/mandalorian-dev-test">GitHub Repository</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linkedin.com/in/isaiasz">Dev Linkedin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>